.top {
    background-color: #383e56;
}

.courses {
    background-color: #f4f4f4;
    border-radius: 15px;
    padding: 5px;
    max-width: 750px;
    margin: auto;
    height: 300px;

}

footer {
    background-color: #383e56;
    color: white;
    padding-top: 10px;
    padding-bottom: 0px;
    text-align: center;
    position:fixed;
    bottom:0;
    width:100%;
}

body {
    font-family: 'Didact Gothic', sans-serif; 
    background-color: #eedad1; 
}

li a {
    color:white;
}

a {
    color: black;
}

#class-link{
    color:black;
}

#class-link:hover {
    color: red;
}

li a:hover{
    color:#f69e7b;
}

#icon:hover {
    color:#f69e7b;
}

#link:hover {
    color: #383e56;
}

.description{
    font-size: large;
}

.course-list{
    font-size: medium;
}

section {
    margin-top: 20px;
}


#icon {
    color: white;
    margin-right: 5px;
}

.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
   /* border-right: .15em solid white;  The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */ /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100%; }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
  }